<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/questionario_app/questionario.css' %}">
    <body class="bg-secondary d-flex justify-content-center">
        <div class="container mx-3 my-3 rounded-3 bg-light shadow-lg">
            <a class="sty-a-svg" href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left mt-2 me-3 sty-return" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
                
            <div class="p-5 text-center rounded-3">
                <div class="row">
                    <form method="get">
                        <h2 id="pergunta"></h2>
                        <ul id="options"></ul>
                        <button id="proximo">Proximo</button>
                    </form>
                </div>            
            </div>
            
        </div>
        {% verbatim %}
        <script>
           
        </script>
        {% endverbatim %}
         
    </body>
    </html>