<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/questionario_app/questionario.css' %}">

</head>
<body>
 
     
</body>
</html>