<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/questionario_app/questionario.css' %}">
    <body class="bg-secondary d-flex justify-content-center row flex-column-flex-row-reverse">
        <div id="alerta" class="col-12"></div>
        <div class="col-10 container mx-3 my-3 rounded-3 bg-light shadow-lg">
            <a class="sty-a-svg" href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left mt-2 me-3 sty-return" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
                
            <div class="p-5 text-center rounded-3">
                <div class="row">
                    <form class="col">
                        <div class="row flex-column" id="pergunta"></div>
                        <br>
                        <button class="px-md-5 border border-3 d-inline-flex align-items-center btn sty-btquest btn-lg px-4 rounded-pill" id="proximo" onclick="next(event)">Proximo</button>
                    </form>
                    <div class="progress mt-5" id="progresso"></div>
                </div>            
            </div>
            
            <script>
                const perguntas = [
                    {% for pergunta in perguntas %}
                        "{{ pergunta }}",
                    {% endfor %}
                ];
                let indice_perguntas = localStorage.getItem('indice_perguntas') ? parseInt(localStorage.getItem('indice_perguntas')) : 0;
                let soma_pontos = localStorage.getItem('soma_pontos') ? parseInt(localStorage.getItem('soma_pontos')) : 0;
                let porcentagem = 0;
                function quest() {
                    let alternativasHtml = '';
                    {% for alternativa in alternativas %}
                        alternativasHtml += `
                        <div class="form-check w-25 col align-self-center">
                            <input class="form-check-input sty-radio" type="radio" name="q${indice_perguntas + 1}" value="{{ alternativa.pontos }}" id="radioquest${indice_perguntas}">
                            <label class="form-check-label " for="radioquest${indice_perguntas}">
                            {{ alternativa.texto }}
                            </label>
                        </div>`;
                    {% endfor %}
                    
                    document.getElementById("pergunta").innerHTML = `
                        <h2>${perguntas[indice_perguntas]}</h2><hr>
                        ${alternativasHtml}
                    `;
                    document.getElementById("alerta").innerHTML = "";
                    porcentagem = Math.round((indice_perguntas*100)/perguntas.length);
                }
            
                function next(event) {
                    event.preventDefault();
                    const radios = document.querySelectorAll(`input[name="q${indice_perguntas + 1}"]:checked`);
                    if (radios.length > 0) {
                        soma_pontos += parseInt(radios[0].value);
                    
                        indice_perguntas++;
                        if (indice_perguntas < perguntas.length) {
                            quest();
                            document.getElementById("progresso").innerHTML = `
                            <div class="progress-bar progress-bar-striped rounded" role="progressbar" aria-label="Example with label" style="width: ${porcentagem}%;" aria-valuemin="0" aria-valuemax="100">${porcentagem}%</div>
                            `;
                        } 
                        else if(indice_perguntas == perguntas.length) {
                            document.getElementById("pergunta").innerHTML = `
                                <h2>CONCLUIDO !</h2>
                            `;
                            document.getElementById("progresso").innerHTML = `
                            <div class="progress-bar progress-bar-striped rounded" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuemin="0" aria-valuemax="100">100%</div>
                            `;
        
                        }
                        else {
                            window.location.href = ``;
                        }
                    }else {
                        if(indice_perguntas < perguntas.length){
                            document.getElementById("alerta").innerHTML = `
                            <div id="alerta" class="alert alert-warning align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill" role="img" aria-label="Warning:" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                <div>
                                Por favor, selecione uma alternativa antes de prosseguir.
                                </div>
                            </div>`
                        }
                          
                    }console.log(soma_pontos, porcentagem);
                }
            
                quest();
                
            </script>
        </body>
    </html>