{% load static %}
<div id="carrosselExampleSlidesFade" class="carousel slide carousel-fade sty-carrossel mt-3" data-bs-ride="carousel" data-bs-interval="9000" data-bs-transition-duration="9">
    <div class="carousel-inner p-0 m-0">
      <div class="carousel-item active sty-carrossel-item">
        <div class="row">
          <div class="col-md-6 sty-div-image" >
            <img src="{% static 'imagens/mente2.jpg' %}" alt="{alt}" class="img-fluid sty-img w-100 h-100" />
          </div>
          <div class="col-md-6 p-5  ">
            <h1 class="pt-5 sty-h1 text-start mt-4">bemvindo</h1>
            <p class="sty-p text-end col-sm-4 ">exp0licando</p>
            <button class="sty-button btn d-block ">saiba mais</button>
          </div>
        </div>
      </div>
    </div>
  </div>