{% extends "structure.html" %}
{% load static %}

{% comment %} titulo da pagina{% endcomment %}
{% block local_title %}Sintonia Mental{% endblock  %}

{% comment %} css de todas as pasticões {% endcomment %}
{% block local_css %}{% include "partitions/home/head_css.html" %}{% endblock %}

{% block local_body %} 
<!---------------- navbar -------------------->
  {% include "partitions/home/navbar.html" %}
  <br>
 <main>
<!------------------ hero ---------------------->
  <section id="hero" class="text-white text-center py-5" style="background:rgba(230, 100, 40, 0.84);">
   {% include 'partitions/home/hero.html' %}
  </section>
  <hr>
<!------------------ cards --------------------> 
  <section id="card">        
  {% include 'partitions/home/cards.html' %}
  </section>
  <hr>
<!------------------- avaliações ------------------> 
  <section id="depoimentos">
  {% include 'partitions/home/reviews.html' %}
  </section>  
<!---------------- questionario -------------------->
  <section id="quest">
  {% include 'partitions/home/quest.html' %}
  </section>
<!------------------- sobre ---------------------->
  <section id="sobre">
  {% include 'partitions/home/about.html' %}
  </section>
<!---------------- footer ------------------------>
  {% include 'partitions/home/footer.html' %}
</main>
  <script src="{% static 'Js/navbar.js' %}"></script>
  
     
{% endblock %}