{% extends "structure.html" %}
{% load static %}

{% comment %}titulo da pagina{% endcomment %}
{% block local_title %}SM | Ajuda{% endblock %}

{% comment %}css da pagina{% endcomment %}
{% block local_css %}
<link rel="stylesheet" href="{% static 'Css/principal_app/help.css' %}">
{% endblock %}

{% block local_body %}
  <div class="position-fixed top-0 start-0 ms-3 mt-2 "> 
    <button class="btn m-auto sty-btn p-1">
      <a href="{% url "home" %}" class=" text-reset text-decoration-none w-100 p-2">Voltar</a>
    </button>
  </div>
    <main class="w-100 text-center">
      <h1 class="text-light p-1 my-5">Perguntas e Respostas</h1>
      <br>
        <div class="dropdown my-2 btn-group w-75">
          <button class="btn dropdown-toggle w-75 sty-btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="text-wrap">Como faço para me cadastrar ?</p>
          </button>
          <p class="dropdown-menu mx-2 p-3 bg-secondary text-light text-wrap "> 
            Para se cadastrar e so clicar no botão ENTRAR na pagina inicial escolher entre paciente e proficional e preencher o formulario , lembrendo que esse formulario e 
            so o primerro passo depois na sua pagina principal e preciso preencher o formulario completo para usar todas as funcionalidades da plataforma 

          </p>
        </div>
        <div class="dropdown my-2 btn-group w-75">
          <button class="btn dropdown-toggle w-75 sty-btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="text-wrap ">Porque tem um tempo de aceitação para os profissionais ?</p>
          </button> 
          <p class="dropdown-menu mx-2 p-3 bg-secondary text-light"> 
            Para mais segurança dos nossos usuarios , os profissionais precisam ser especialistas da area e ter seu registro no RQE(Registro de Qualificação de Especialista),então temos um 
            tempo de 10 dias para nossa equipe realizar todos os procedimentos de confirmação, a resposta sera enviada para o email fornecido
          </p>
        </div>
        <div class="dropdown my-2 btn-group w-75">
          <button class="btn dropdown-toggle w-75 sty-btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="text-wrap ">Como funciona a plataforma ?</p>
          </button> 
          <p class="dropdown-menu mx-2 p-3 bg-secondary text-light"> 
            De forma bem simples , apos o cadastro , na pagina principal de usuario , podera ver todos os especialistas cadastrados , mas so podera usar todas as funcionalidades como agendar , fazer consultas online 
            e pagamentos , quando finalizar o cadastro 
          </p>
        </div>
    </main>
{% endblock %}
{% comment %} 
 colocar um for para gerar as perguntas e respostas, colocando vindo do banco 
{% endcomment %}