<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/questionario_app/questionario.css' %}">

</head>
<body class="bg-secondary d-flex justify-content-center">
    <div  class="container mx-3 my-3 rounded-3 bg-light shadow-lg">
        <a class="sty-a-svg" href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left mt-2 me-3 sty-return" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
        </a>
        <div class="p-5 text-center rounded-3">
          
            <h1 class="sty-h1 mb-5 ">Vamos começar o teste !</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
              O teste tem 20 perguntas de multiplas escolhas , cada pergunta tem uma potuação dependendo da pergunta , então para que o teste seja bem sucedido responda com sinceridade . Ao final do questionario será mostrado a pontuação total . 
            </p>
            <div class="d-inline-flex mb-5 row flex-column">
              <h5 class="">O teste é para :</h5>
              <a class="col-11 text-reset my-2" href="{% url 'quest_user' %}" >
              <button class="px-md-5 border border-3 d-inline-flex align-items-center btn sty-btquest btn-lg px-4 rounded-pill" type="button" >
                PARA MIM MESMO
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short sty-svgbt " viewBox="0 0 10 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                </svg>
              </button>
            </a>
            <a class="col-11 text-reset my-2" href="{% url 'quest_pais' %}">
              <button class="px-md-3 d-inline-flex align-items-center btn sty-btquest btn-lg px-1 rounded-pill" type="button">
                PARA MEU FILHO(A)/PARENTE
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short sty-svgbt " viewBox="0 0 10 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                </svg>
              </button>
            </a> 
            <a class="col-11 text-reset my-2" href="{% url "quest_prof" %}">
              <button class="px-md-5 d-inline-flex align-items-center btn sty-btquest btn-lg px-4 rounded-pill" type="button">
                PARA MEU ALUNO(A)
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short sty-svgbt" viewBox="0 0 10 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                </svg>
              </button>
            </a>
            </div>
          </div>
    </div>
    
     
</body>
</html>