{% extends "structure.html" %}
{% load static %}

{% block local_title %}SM | Area do Paciente{% endblock  %}

{% block local_css %}
<link rel="stylesheet" href="{% static 'Css/main_app/navbar.css' %}">
<link rel="stylesheet" href="{% static 'Css/main_app/home.css' %}">
<link rel="stylesheet" href="{% static 'Css/area_user_app/home.css' %}">
{% endblock  %}

{% block local_js %}
{% endblock  %}



{% block local_body %}
<!--------- navbar -------------->
    {% include "partitions/home/navbar.html" %}

<!---------- calendario ---------->
    {% include "partitions/calendar.html" %}
    {% include "partitions/expert_list.html" %}

    <script src="{% static 'Js/navbar.js' %}"></script>
{% endblock  %}