
body {
    background-image: url('/static/images/backgroud-body.png');
    background-repeat: repeat;
    background-size: 5rem;
    background-color: rgb(65, 65, 65);
    height: 100%;
    z-index: -1;
   
}
.sty-btn{
    background-color: rgb(228, 109, 54);
    color: rgb(219, 219, 219);
}
.sty-btn:hover{
    background-color: rgb(241, 241, 241);
    border-color: rgb(228, 109, 54);
}
.dropdown button , .dropdown p {
    font-size: 25px;
}
@media (max-width: 770px) {
    .dropdown button , .dropdown p {
        font-size: 17px;
    }
}