
body {
  margin: 0;
  background-image: url('/static/images/backgroud-body.png');
  background-repeat: repeat;
  background-size: 6rem;
  height: 100vh;
  z-index: -1;
}
.sty-footer{
  color:#ebebeb;
  background-color: #000000;
}



/* ================== Estilo para a barra de deslocamento ================== */

/* Estilo para a barra de deslocamento */
::-webkit-scrollbar {
  width: 1rem; 
  height: 1rem; 
}

/* Estilo para o fundo da barra de deslocamento */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Estilo para o "thumb" da barra de deslocamento */
::-webkit-scrollbar-thumb {
  background: #79716c; 
  border-radius: 10px; 
}

/* Estilo para o "thumb" da barra de deslocamento ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 109, 54); 
}