.btiniciar{
    background-color: rgb(241, 96, 28);
    color: rgb(0, 0, 2);  
    width: 7rem;
}
.btiniciar:hover , .bt-modal:hover{
    color:  rgb(241, 96, 28);
    background-color: rgb(0, 0, 2);
}
.click-efect {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.click-efect:hover {
    transform: scale(0.90);
}
.sty-navbar{
    background-color: rgb(36, 36, 36);
    font-size: 20px;
    

}
.sty-link-nav{
    color: rgb(255, 255, 255);
      
}
.sty-link-nav:hover{
    color: rgb(241, 96, 28);
    
}
.sty-image{
    opacity: 80%;
    
}
.sty-image img{
    padding: 1rem;
    position: fixed;
    background-color: rgb(8, 8, 8);
    margin-left: 1rem;
    border-radius:0 0 1rem 1rem;
    
}
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s; /* adicione uma transição para o efeito de subida */
}
  
.hide-nav {
    top: -100px; /* esconda o nav quando rolar a página */
}
.bt-modal{
    background-color: rgb(241, 96, 28);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: auto;
}
/* area do usuario */
.sty-menu-user a{
    font-size: 19px;
    text-decoration: none;
    color: rgb(241, 96, 28);
    
}

@media (max-width: 767px) {
    .sty-link-nav{
        margin: 10px;
        color: rgb(241, 96, 28);
        background-color: transparent;
    }
    .sty-link-nav:hover{
        border-radius: .5rem;
        color: black;
        background-color: rgb(241, 96, 28);
        font-weight: 700;
    }

    .btiniciar{
        width: 5rem;
        padding: .4rem;
        font-size: 1rem;
        margin-left: .5rem;
    }
    .sty-image{
        content: url('/static/images/logo5-semfundo.png');
        width: 7rem;
    }
    .offcanvas{
        opacity: 100%;
    }
}

