.sty-cards{
    background-color: rgba(148, 148, 148, 0.705);
    
}
.sty-h1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(236, 105, 44);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}
.sty-p{
    font-size: 1.5rem;
 
}
.sty-button{
    background-color: rgb(241, 96, 28);
    font-weight: 500;
    width: 8rem;
    font-size: 1.2rem;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}
.sty-button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 96, 28);
    border-color: rgb(241, 96, 28);

}
.sty-btnmodal{
    background-color:rgb(236, 105, 44) ;
}
.sty-btnmodal:hover{
    background-color: #000000;
    color: rgb(236, 105, 44);
}
.click-efect {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.click-efect:hover {
    transform: scale(0.95);
}