
<div  class="container-fluid h-100 mt-3 sty-sobre">
    <div class="px-4 py-5 ">
        <h2 class="pb-2 fs-1 border-bottom text-center fw-bold sty-h2">SOBRE</h2>
        <div class="row py-5">
          <div class="mb-5">
            <div class="feature-icon d-flex justify-content-center fs-3 p-2 rounded sty-div mb-4">
              <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
              </svg>
                <h3 class="fs-3 px-3">O que e o TDAH ?</h3>
          </div>
            <p class="sty-p2">TDAH (Transtorno do Déficit de Atenção e Hiperatividade) 
              é uma condição que geralmente começa na infância e pode continuar na vida adulta. 
              As pessoas com TDAH podem ter dificuldade em manter o foco, ficam muito inquietas e,
              às vezes, agem de maneira impulsiva.Principais sintomas:
            </p>
            <p class="sty-p2">              
              <b>Desatenção:</b> É difícil prestar atenção em uma coisa por muito tempo, seguir instruções e terminar tarefas.<br>
              <b>Hiperatividade:</b> A pessoa pode ficar mexendo as mãos e os pés o tempo todo e ter dificuldade em ficar parada.<br>
              <b>Impulsividade:</b> Tomar decisões sem pensar nas consequências, interromper os outros enquanto falam e não conseguir esperar a sua vez.<br>
            </p>
            <p class="sty-p2">  
              Esses sintomas variam de pessoa para pessoa e podem afetar a escola, 
              o trabalho e as relações sociais. O diagnóstico é feito por um profissional de saúde mental
              e o tratamento costuma incluir remédios e terapia.
            </p>
            
          </div>
          <div class="feature col-sm-12 col-md-4">
            <div class="feature-icon d-flex justify-content-center fs-3 p-2 rounded sty-div mb-4 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                  </svg>
                  <h3 class="fs-3 px-3">O que e SM ?</h3>
            </div>
              
              <p class="sty-p2"> Sintonia Mental é um projeto destinado a pessoas com Transtorno de Déficit de Atenção e Hiperatividade (TDAH) e Transtorno do Espectro Autista (TEA), 
                idealizado por um professor de TI que tem um filho com TDAH e identificou a falta de apoio específico para esse público.</p>
          </div>
          <div class="feature col-sm-12 col-md-4">
            <div class="feature-icon d-flex justify-content-center fs-3 p-2 rounded sty-div mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                  </svg>
                  <h3 class="fs-3 px-3">Qual e o objetivo ? </h3>
            </div>
              
              <p class="sty-p2">O principal objetivo do Sintonia Mental é conectar pessoas com TDAH e TEA a profissionais especializados de forma rápida e sem complicações,
                 identificando suas necessidades e oferecendo suporte personalizado.</p>
          </div>
          <div class="feature col-sm-12 col-md-4">
            <div class="feature-icon d-flex justify-content-center fs-3 p-2 rounded sty-div mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"/>
                </svg>
                <h3 class="fs-3 px-2">Quem pode participar ?</h3>
            </div>
              
              <p class="sty-p2">Profissionais de saúde das áreas específicas são bem-vindos a colaborar conosco. Além disso, qualquer pessoa pode contribuir compartilhando nossa plataforma, 
                ajudando a ampliar o alcance do projeto e beneficiar mais pessoas.</p>
           </div>
          </div>
      </div>
</div>



