{% extends "structure.html" %}
{% load static %}

{% block local_title %}SM | Cadastro Profissional{% endblock %} 
    
{% block local_css %}
<link rel="stylesheet" href="{% static 'Css/register_app/register.css' %}">
{% endblock  %}    

{% block local_js %}
<script src="{% static 'Js/register_func.js' %}"></script>
{% endblock  %}

{% block class_body %} 
class="d-flex align-items-center p-5 bg-dark" 
{% endblock %}
  
{% block local_body %}

  <main class="form-signin w-50 m-auto m-4">
      {% include "message_erro.html" %}  
    
    <form onsubmit = "return ValidacaoSenha()" method="post">
      {% csrf_token %}
      {% include "partitions/form.html" %}
      <p id="erro" class="ms-2 fs-6 fst-italic text-danger"></p>
      {% include "partitions/buttons.html" %}
    </form>
    <br>
    {% include "partitions/complement.html" %}
  </main>
{% endblock %} 
    
        
    
