<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrando</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/cadastro_app/simplificado.css' %}">

</head>
<body class="d-flex align-items-center p-5 bg-dark ">
    <main class="form-signin w-50 m-auto m-4">
      <form>
        <div class="d-flex justify-content-center">
          <h1 class="mb-3 fw-bold p-0 fs-1">Cadastro</h1>
        </div>
        <div class="form-floating m-1">
            <input type="text" name="nome" class="form-control" id="name" placeholder="Nome">
            <label for="name">Nome</label>
        </div>
        <div class="form-floating m-1">
          <input type="email" name="email" class="form-control" id="email" placeholder="Email">
          <label for="email">Email </label>
        </div>
        <div class="form-floating m-1">
            <input type="text" name="fone" class="form-control" id="fone" placeholder="Telefone">
            <label for="fone">Telefone</label>
        </div>
        <div class="form-floating m-1">
          <input type="password" class="form-control" id="senha" placeholder="Senha">
          <label for="senha">Senha</label>
        </div>
        <div class="form-floating m-1">
            <input type="password" class="form-control" id="confere-senha" placeholder="Senha">
            <label for="confere-senha">Repetir Senha</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto d-flex mt-3">
          <button class="w-50 btn sty-btnsimp p-sm-0 py-md-2" width='40'><a class="text-decoration-none text-reset" href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="4 2 17 15">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            VOLTAR</a>
          </button>
          <button class="w-50 btn sty-btnsimp p-sm-0 py-md-2" width='40' type="submit">
            ENTRAR
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="-4 2 17 15">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
          </button>
        </div>
        <p class="mt-5 mb-3 text-light">© Sintonia Mental-2024</p>
      </form>
    </main>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
        
    
</body>

</html>