<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block local_title %}{% endblock %}</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <!-------- Bootstrap Icons -------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!--------- css ------------>
    {% block local_css %}{% endblock %}
    <!----------- js -------------->
    {% block local_js %}{% endblock %}
    
</head>
<body {% block class_body %}{% endblock  %}>
  {% block local_body %}{% endblock %}

  <!------ botão de ajuda  -------->
    <button class="btn sty-button position-fixed bottom-0 end-0 m-3" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Fale conosco!">
        <i class="bi bi-chat-dots-fill"></i> Ajuda
    </button>
</body>
</html>