{% extends "structure.html" %}
{% load static %}

{% block local_title %}SM | Para Pais-Parentes {% endblock %}

{% block local_css %}
<link rel="stylesheet" href="{% static 'Css/questionnaire_app/questionnaire.css' %}">
{% endblock %}

{% block local_js %}
<script src="{% static 'Js/quest_func.js' %}"></script>
{% endblock %}

{% block class_body %}
class="bg-secondary d-flex justify-content-center row flex-column-flex-row-reverse"
{% endblock %}        

{% block local_body %}
    {% include "partitions/content_quest.html" %}

    <script >
        const perguntas = textos('pais');
        quest(perguntas);

    </script>
                
{% endblock %}