.sty-body{
  min-width: 100vh;
  height: 100%;
}
/* Path: calendar.html */
.sty-arrows{
    background-color:  rgb(236, 105, 44);
    width: 10rem;
    height: 3rem;
}
.sty-arrows:hover{
    background-color: black;
    color: rgb(236, 105, 44);
}
.sty-arrows a {
    text-decoration: none;
    color: white;
    width:100%;
    height:100%;
}
/* Path: expert_list_all.html e expert_list_recent.html */
.sty-div-specialist{
    background-color: rgb(52, 52, 52);
    width: 12rem;
}
.sty-div-specialist h5{
    color: rgb(236, 105, 44);
    font-size: 1.2rem;
    font-weight: bold; 
    word-wrap: break-word;
    white-space: normal;
}
.sty-div-specialist p{
    font-style: italic;
    font-size: 0.9rem;
    color: white;
    word-wrap: break-word;
    white-space: normal;                    
}
.sty-div-specialist a{
    background-color: rgb(236, 105, 44);
    color: white;
    border: none;
    font-size: 1rem
}
.sty-button{
    background-color: rgb(236, 105, 44);
    color: black;
    border: none;  
}
.sty-button:hover{
    background-color: black;
    color: rgb(236, 105, 44);
}
.sty-div-list{
    overflow-x: auto;    
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}
.sty-div-list .card{
    display: inline-block;
    vertical-align: top;
}
/* Path: list_consultation.html */
.sty-text td{
    word-wrap: break-word;
    white-space: normal; 
}
.sty-footer{
    
}
/*============= Estilo para a barra de deslocamento  =============*/

/* Estilo para a barra de deslocamento */
::-webkit-scrollbar {
    width: 1rem; 
    height: 1rem; 
}

/* Estilo para o fundo da barra de deslocamento */
::-webkit-scrollbar-track {
background: transparent; 
}

/* Estilo para o "thumb" da barra de deslocamento */
::-webkit-scrollbar-thumb {
background: #79716c; 
border-radius: 10px; 
}

/* Estilo para o "thumb" da barra de deslocamento ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
background: rgb(228, 109, 54); 
}