{% load static %}
{% block carosel_css %}
<link rel="stylesheet" href="{% static 'Css/carrossel.css' %}">
{% endblock %}

{% block carrossel %}

<div id="carrossel" class="carousel slide carousel-fade sty-carrossel mt-3 h-50" data-bs-ride="carousel" data-interval="9000" >
    <div class="carousel-inner p-0 m-0"> 
      {% comment %}{% for dica in dicas %}{% endcomment %}
      <div class="carousel-item active{% if forloop.first %}active{% endif %} sty-carrossel-item">
        <div class="row ">
        {% comment %}{% if id_dica|divisibleby:2 %} {% endcomment %}
       <!--usa esse quando o id da dica e par -->
          <div class="col-md-6 " >
            <img src="{% static 'imagens/mente1.jpg' %}" alt="" class="img-fluid sty-img1 w-100 h-100" />
          </div>
          <div class="col-md-6 p-1 ">
            <h1 class="py-4 sty-h1 mt-5 mb-3 d-md-block text-md-start text-center">bemvindo</h1><br>
            <p class="sty-p text-center px-3">
              testando um texto aleatorio para ver como esta o comportamento do mesmo , assim espero que fique como quero 
            </p><br>
            <div class="mt-4 text-center">
              <button class="sty-button btn "data-bs-toggle="modal" data-bs-target="#modaldica">saiba mais</button>
            </div>
          </div>
        </div><!--retirar-->
      </div> <!--retirar-->
     
      <div class="carousel-item sty-carrossel-item"><!--retirar-->
        <div class="row "><!--retirar-->
       {% comment %}{% else %}{% endcomment %}
       <!--usa esse quando o id da dica e impar -->
          <div class="col-md-6 p-1 ">
            <h1 class="py-4 sty-h1 mt-5 mb-3 d-md-block text-md-end text-center">bemvindo</h1><br>
            <p class="sty-p text-center px-3">
              testando um texto aleatorio para ver como esta o comportamento do mesmo , assim espero que fique como quero 
            </p><br>
            <div class="mt-4 text-center">
              <button class="sty-button btn "data-bs-toggle="modal" data-bs-target="#modaldica">saiba mais</button>
            </div>
          </div> 
          <div class="col-md-6 " >
            <img src="{% static 'imagens/mente2.jpg' %}" alt="" class="img-fluid sty-img2 w-100 h-100" />
          </div>
        </div><!--retirar-->
      </div><!--retirar-->
     <!--retirar todo o bloco-->
      <div class="carousel-item sty-carrossel-item">
        <div class="row ">
          <div class="col-md-6 " >
            <img src="{% static 'imagens/mente3.jpg' %}" alt="" class="img-fluid sty-img1 w-100 h-100" />
          </div>
          <div class="col-md-6 p-1 ">
            <h1 class="py-4 sty-h1 mt-5 mb-3 d-md-block text-md-start text-center">bemvindo</h1><br>
            <p class="sty-p text-center px-3">
              testando um texto aleatorio para ver como esta o comportamento do mesmo , assim espero que fique como quero 
            </p><br>
            <div class="mt-4 text-center">
              <button class="sty-button btn "data-bs-toggle="modal" data-bs-target="#modaldica">saiba mais</button>
            </div>
          </div>
      {% comment %}{% endif %} {% endcomment %}
        </div>
      </div> 
      <!--------------- modal ---------------------->
        <div class="modal fade" id="modaldica" tabindex="-1" aria-labelledby="modaldica" aria-hidden="true">
          <div class="modal-dialog ">
            <div class="modal-content bg-secondary text-light">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Entendi</button>
            </div>
            </div>
          </div>
        </div>


      {% comment %}{% endfor %}{% endcomment %}
    </div>
</div>



{% endblock %}