<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sintonia Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!----------- staticos ------------>
    <link rel="stylesheet" href="{% static 'Css/home.css' %}">
    
    <!------- statico do carrossel -------->
    {% block corosel_css %} {% endblock %}
    <!------- statico da avaliações -------->
    {% block avaliacoes_css %} {% endblock %}
    <!-------------- import font google ------------------>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
    </style>
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-md fixed-top m-0  p-1 sty-navbar">
        <button class="navbar-toggler ms-4 bg-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="mb-0 mb-md-0  sty-image">
            <a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="{% static 'imagens/sm2.svg' %}" alt="logo sintonia mental" width="90" height="90"/>
            </a>
          </div>
          <div class="offcanvas offcanvas-start text-bg-dark " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body px-0">
                <ul class="navbar-nav  mx-auto">
                  <li class="nav-item">
                    <a href="#iniciar" class="nav-link sty-link-nav px-5">Iniciar</a>
                  </li>
                  <li class="nav-item">
                    <a href="#depoimentos" class="nav-link sty-link-nav px-5">Depoimentos</a>
                  </li>
                  <li class="nav-item">
                    <a href="#sobre" class="nav-link sty-link-nav px-5">Sobre</a>
                    </li>
                  <li class="nav-item">
                    <a href="#ajuda" class="nav-link sty-link-nav px-5">Ajuda</a>
                    </li>
                </ul>
            </div>
          </div>
            
          <div class="text-end me-5">
            <button type="button" class=" btiniciar" href="#iniciar">Iniciar</button>
          </div>
      </nav>
      <section id="iniciar">
        <!------------------ carrossel -------------------->
        {% block carrossel %}
          {% include 'carrossel.html' %}
          {% include 'carrossel.html' %}
          {% include 'carrossel.html' %}
        {% endblock %}
      </section>
      <section id="depoimentos">
        <!------------------- avaliações ------------------>
        {% block avaliacoes %}
          {% include 'avaliacoes.html' %}
        {% endblock %}
      </section>

      <script src="{% static 'Js/home.js' %}"></script>
</body>
</html>