<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sintonia Mental</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    
    <!------- statico do navbar ---------->
    {% block navbar_css %}{% endblock %}    
    <!------- statico do casds ------------>
    {% block cards_css %} {% endblock %}
    <!------- statico da avaliações -------->
    {% block avaliacoes_css %} {% endblock %}
    <!------ statico do questionario -------->
    {% block quest_css %}{% endblock %}
    <!------- statico do sobre-------------->
    {% block sobre_css %}{% endblock %}
  
    <style>
      body {
        margin: 0;
        background-image: url('{% static '/imagens/backgroud-body.png' %}');
        background-repeat: repeat;
        background-size: 5rem;
        height: 100vh;
        z-index: -1;
      }
    </style>
</head>
<body>
  <!------------ navbar ---------------->
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}
      <br>
  <!------------------ cards --------------------> 
      <section id="iniciar">        
        {% block cards %}
          {% include 'cards.html' %}
          {% comment %} {% include 'cards.html' with objeto=objeto %}{% endcomment %}
        {% endblock %}
      </section>
  <!------------------- avaliações ------------------> 
      <section id="depoimentos">
        {% block avaliacoes %}
          {% include 'avaliacoes.html' %}
        {% endblock %}
      </section>      
  <!---------------- questionario -------------------->
      <section id="quest">
        {% block quest %}
          {% include 'quest.html' %}
        {% endblock %}
      </section>
  <!------------------- sobre -------------------->
      <section id="sobre">
        {% block sobre %}
          {% include 'sobre.html' %}
        {% endblock %}
      </section>

      <script src="{% static 'Js/navbar.js' %}"></script>
</body>
</html>