{% load static %}

{% block navbar %}
<nav id="nav" class="navbar navbar-expand-md fixed-top m-0  p-1 sty-navbar">
    <button class="navbar-toggler ms-4 bg-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="mb-0 mb-md-0  sty-image">
        <a class="navbar-brand" href="#home">
          <img class="img-fluid" src="{% static 'imagens/sm2.svg' %}" alt="logo sintonia mental" width="90" height="90"/>
        </a>
      </div>
      <div class="offcanvas offcanvas-start text-bg-dark " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {% if user.is_authenticated %}
          <div class="offcanvas-body px-0">
            <ul class="navbar-nav  mx-auto">
              <li class="nav-item">
                <a href="#quest" class="nav-link sty-link-nav px-4 click-efect">Especialistas</a>
              </li>
              <li class="nav-item">
                <a href="#depoimentos" class="nav-link sty-link-nav px-4 click-efect">Consultas</a>
              </li>
              <li class="nav-item">
                <a href="#sobre" class="nav-link sty-link-nav px-4 click-efect">Agenda</a>
                </li>
              <li class="nav-item">
                <a href="#ajuda" class="nav-link sty-link-nav px-4 click-efect">Notificações</a>
              </li>
            </ul>
          </div>
        </div>   
        <div class="text-end me-4">
          <button class="dropdown-toggle rounded-pill" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
          </button>
          <!-------- menu -------->
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button"></button></li>
            <li><button class="dropdown-item" type="button"><a href="">Configurações</a></button></li>
            <li><button class="dropdown-item" type="button"><a href="">Logout</a></button></li>
          </ul>
        </div>
        {% else %}
          <div class="offcanvas-body px-0">
              <ul class="navbar-nav  mx-auto">
                <li class="nav-item">
                  <a href="#quest" class="nav-link sty-link-nav px-4 click-efect">Iniciar</a>
                </li>
                <li class="nav-item">
                  <a href="#depoimentos" class="nav-link sty-link-nav px-4 click-efect">Depoimentos</a>
                </li>
                <li class="nav-item">
                  <a href="#sobre" class="nav-link sty-link-nav px-4 click-efect">Sobre</a>
                  </li>
                <li class="nav-item">
                  <a href="{% url "help" %}" class="nav-link sty-link-nav px-4 click-efect">Ajuda</a>
                  </li>
              </ul>
          </div>
        </div>     
        <div class="text-end me-5 ">
          <button type="button" class="btiniciar click-efect btn fw-bold p-1 fs-6 rounded"  data-bs-toggle="modal" data-bs-target="#modalcadastrar">ENTRAR</button>
        </div>
      {% endif %}
      </nav>
      <!-------- modal ---------->
      <div class="modal fade" id="modalcadastrar" tabindex="-1" aria-labelledby="modalcadastrar" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content bg-dark">
            <div class="modal-header-border-0 align-self-start">
              <button type="button" class="m-2 btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row m-3 d-flex justify-content-center">
              <div class="col-sm-8">
                  <button type="button" class="btn my-2 py-2 w-100 aligh-self-center rounded-3 bt-modal"><a class="text-reset text-decoration-none" href="{% url "register_lite_prof" %}">Sou Profissional</a></button>  
              </div>
              <div class="col-sm-8">
                  <button type="button" class="btn my-2 py-2 w-100 aligh-self-center rounded-3 bt-modal"><a class="text-reset text-decoration-none" href="{% url 'register_lite_user' %}">Sou Paciente</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>



{% endblock %}