{% load static %}

{% block quest_css %}
<link rel="stylesheet" href="{% static 'Css/principal_app/quest.css' %}">
{% endblock %}

{% block quest %}
<div  class="container sty-container mt-5 mb-5 rounded-3 sty-quest" >
    <div class="p-5 text-center rounded-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
      </svg>
        <h1 class="text-body-emphasis">Faça o Teste</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
          Descubra se você apresenta sintomas de TDAH ou autismo respondendo ao nosso questionário rapido e facil! Com base na sua pontuação, você pode ter indícios de um ou ambos os transtornos e descobrir recursos e informações úteis aqui mesmo no nosso site para entender melhor e lidar com esses desafios.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
          <a href="{% url "quest" %}">
          <button class="d-inline-flex align-items-center btn sty-btquest btn-lg px-4 rounded-pill" type="button">
            FAZER TESTE
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short text-dark" viewBox="0 0 10 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
            </svg>
          </button>
        </a>
        </div>
      </div>
</div>

{% endblock %}