<div class="py-4 mt-4 sty-welcome">
    <h1 class="text-center mb-1 mt-5 fs-1 fw-bold">Olá, {{ patient.auth_user.first_name }}!</h1>
    <p class="text-center fs-5">Bem-vindo(a) à sua área de usuário. Aqui você pode gerenciar suas consultas, acessar seus dados e muito mais.</p>
</div>
<div class="container p-3 mt-4">
    <h1 class="text-center mb-1 mt-3 fs-1 fw-semibold">Calendário de Consultas</h1>
    <table class="table table-bordered table-striped align-middle">
        <thead class="text-center bg-dark text-white ">
            <tr>
                <th colspan="7" class="text-center bg-dark text-white p-0">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="sty-arrows p-0 d-flex">
                            <a class="" href="{% url 'home_user' patient.auth_user.id date_list.prev_month date_list.prev_year %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-left mt-2" viewBox="0 0 18 18">
                                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
                                </svg>
                            </a>
                        </div>
                        <h5>
                            {{ date_list.text_month }}/{{ date_list.year }}
                        </h5>
                        <div class="sty-arrows p-0 d-flex">
                            <a class="" href="{% url 'home_user' patient.auth_user.id date_list.next_month date_list.next_year %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-right mt-2" viewBox="0 0 18 18">
                                    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>    
            </tr>
            <tr >
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sabado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} listando os dias da semana {% endcomment %}
            {% for week in list_weeks %}
            <tr>
                {% for day in week %}
                <td scope="row">
                    {% comment %} Se o dia for 0, exibe um espaço em branco {% endcomment %}
                    {% if day == 0 %}
                        &nbsp;
                    {% else %}
                        {% comment %} Se o dia atual for igual ao dia, exibe o dia em negrito e laranja {% endcomment %}
                        <span class="{% if today.year == date_list.year and today.month == date_list.month and today.day == day %}fw-bold text-warning {% endif %}">
                            {{ day }}
                        </span>
                        {% comment %} Itera sobre as consultas {% endcomment %}
                        {% for consult in consults %}
                            {% comment %} Se a data da consulta for igual ao dia atual {% endcomment %}
                            {% if consult.date.day == day and consult.date.month == date_list.month and consult.date.year == date_list.year %}
                            {% comment %} Se a consulta estiver confirmada, exibe um ícone verde {% endcomment %}
                                {% if consult.status %}
                                    <button type="button" class="border-0" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="calendar-popover"
                                    data-bs-title="{{ consult.type_consultation }} - {{ consult.date.time }}" data-bs-content="Descrição : {{ consult.description }} Medico : {{ consult.specialist.name }}">
                                        <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </button>
                                {% else %}
                                    {% comment %} Se a data atual for menor que a data da consulta, exibe um ícone laranja {% endcomment %}
                                    {% if today < consult.date %}
                                        <button type="button" class="border-0" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="calendar-popover"
                                        data-bs-title="{{ consult.type_consultation }} - {{ consult.date.time }}" data-bs-content="Descrição : {{ consult.description }} Medico : {{ consult.specialist.name }}">
                                            <svg style="color:orange" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                            </svg>
                                        </button>
                                    {% else %}
                                        {% comment %} Se a data atual for maior que a data da consulta, exibe um ícone vermelho {% endcomment %}
                                        <button type="button" class="border-0" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="calendar-popover"
                                        data-bs-title="{{ consult.type_consultation }} - {{ consult.date.time }}" data-bs-content="Descrição : {{ consult.description }} Medico : {{ consult.specialist.name }}"> 
                                            <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                            </svg>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>