<div class="container-fluid m-3 "style="with:100%">
    <h4>Especialistas recentes</h4>
    <div class="sty-div-list m-2">
    <div class=" row row-cols-1 d-flex flex-nowrap">
    {% for specialist in specialists %}
            <div class="card m-3 p-0 sty-div-specialist d-flex">
                <div class="row g-0 flex-column align-items-center">
                    <div class="col-4 mt-3">
                        {% if specialist.photo_perfil  %}
                            <img src="{{ specialist.photo_perfil.url }}" alt="foto de perfil perfil" class="rounded-circle" width="45" height="45">
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle text-light" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        {% endif %}
                    </div>
                    <div class="col-8 p-0">
                        <div class="card-body p-1">
                            <h5 class="card-title mt-2">{{ specialist.name }}</h5>
                            <p class="card-text">{{ specialist.specialty }}</p>
                            <a href="#" class="btn sty-button m-2">Novamente</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    </div>
</div>