<div class="offcanvas-body px-0">
    <ul class="navbar-nav  mx-auto px-0">
      <li class="nav-item">
        <a href="#specialist_all" class="nav-link sty-link-nav px-4 click-efect">Pacientes</a>
      </li>
      <li class="nav-item">
        <a href="#agenda" class="nav-link sty-link-nav px-4 click-efect">Agenda</a>
        </li>
      <li class="nav-item">
        <a href="#" class="nav-link sty-link-nav px-4 click-efect">Notificações</a>
      </li>
    </ul>
  </div>
</div>   
<div class="dropdown me-md-5 px-md-3 px-sm-0">
  <button class="dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  {% if patient.photo_perfil  %}
    <img src="{{ patient.photo_perfil.url }}" alt="perfil" class="rounded-circle" width="45" height="45">
  {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
    </svg>
  {% endif %}
  </button>
  <!-------- menu -------->
  <ul class="dropdown-menu dropdown-menu-end bg-dark sty-menu-user " aria-labelledby="dropdownMenuButton1">
    <li><button class="dropdown-item" type="button">algo</button></li>
    <li><button class="dropdown-item" type="button"><a href="">Configurações</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="{% url "logout" %}">Logout</a></button></li>
  </ul>
</div>