<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrando</title>
    {% load static %}
    <!----------bootstrap------------>
    <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Css/cadastro_app/simplificado.css' %}">
    <script src="{% static 'Js/simplifiq_func.js' %}"></script>

</head>
<body class="d-flex align-items-center p-5 bg-dark ">
    <main class="form-signin w-50 m-auto m-4">
      <form onsubmit = "return ValidacaoSenha()">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
          <h1 class="mb-3 fw-bold p-0 fs-1">Cadastro</h1>
        </div>
        <div class="form-floating m-1">
            <input type="text" name="nome" class="form-control" id="name" placeholder="Nome" required>
            <label for="name">Nome</label>
        </div>
        <div class="form-floating m-1">
          <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
          <label for="email">Email </label>
        </div>
        <div class="form-floating m-1">
            <input type="tel" name="fone" class="form-control" id="fone" placeholder="Telefone" required>
            <label for="fone">Telefone</label>
        </div>
        <div class="form-floating m-1">
          <input type="password" class="form-control" id="senha" placeholder="Senha" required>
          <label for="senha">Senha</label>
        </div>
        <div class="form-floating m-1">
            <input type="password" class="form-control" id="confere-senha" placeholder="Senha" required>
            <label for="confere-senha">Repetir Senha</label>
        </div>
        <p id="erro" class="ms-2 fs-6 fst-italic text-danger"></p>
        <div class="d-grid gap-2 col-md-6 col-sm-8 mx-auto d-flex mt-3">
          <button class="w-50 btn sty-btnsimp py-0" width='40'><a class="text-decoration-none text-reset" href="{% url 'home' %}">
            VOLTAR
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="4 2 17 15">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg></a>
          </button>
          <button class="w-50 btn sty-btnsimp py-0" width='40' type="submit">
            ENTRAR
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="-4 2 17 15">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
          </button>
        </div>      
      </form>
      <br>
      <div class="mt-3 d-flex justify-content-center ">
        <a class="sty-rtlogin">Ja tem cadastro? Ir para fazer o login</a>
        </a>
      </div>
      <p class="mt-5 mb-3 text-light">© Sintonia Mental-2024</p>
    </main>
   
    
        
    
</body>

</html>